@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 1rem solid rgba(255, 255, 255, 0.3)
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .1s linear;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    color: #fff;
    border-radius: 5rem;
}

body {
    background-color: #010103;
}

section {
    padding: 2rem 7%;
}

.btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    text-align: center;
}

.btn:hover {
    letter-spacing: .2rem;
    color: black;
    font-weight: 1000;
    
}

.heading {
    text-align: center;
    font-size: 4.1rem;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #010103;
    border-bottom: var(--border);
    border-bottom-width: 1.5px;
    top: 0;
    right: 0;
    left: 0;
    padding: 3.5rem 2%;
    z-index: 1000;

}

.header .logo img {
    left: 40px;
    top: 5px;
    width: 9rem;
    position: absolute;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem var(--main-color);
}

.header .icon div {
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;

}

.header .icon div:hover {
    color: var(--main-color);
}

.icon {
    right: 70px;
    position: absolute;

}

.icon div {
    margin: 5px 10px;
}

#menu-btn {
    display: none;
}

.header .search-form {
    background: #fff;
    display: flex;
    top: 115%;
    right: 7%;
    right: 2.8%;
    position: absolute;
    width: 50rem;
    align-items: center;
    height: 5rem;
    transform: scaleY(0);
    transform-origin: top;

}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;


}

.header .search-form label {
    cursor: pointer;
    font-size: 2.4rem;
    margin-right: 1rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    height: calc(100vh - 9.5rem);
    top: 100%;
    right: 100%;
    position: absolute;
    background: #fff;
    width: 30rem;
    padding: 0 1.5rem;
    transition: -.15s linear;

}

.header .cart-items-container .cart-items {
    position: relative;
    margin: 2rem 0;
    align-items: center;
    gap: 1.8rem;

}

.header .cart-items-container .cart-items .fa-times {
    position: absolute;
    top: 3rem;
    right: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);

}

.header .cart-items-container .cart-items .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-items img {
    height: 4rem;
}

.header .cart-items-container .cart-items .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-items .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bold;
}

.header .cart-items-container .btn {
    width: 100%;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    line-height: 1.4;
    color: #fff;
    padding: 2rem 0;
}
.header .cart-items-container.active {
    right: 0;
}



















/* media quauries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header .logo img {
        width: 63px;
        top: 5px;
        left: 20%;
    }


    section {
        padding: 2rem;
    }


    @media (max-width:768px) {
        html {
            font-size: 55%;
        }

        .header .logo img {
            width: 63px;
            top: 3px;
            left: 7%;
        }

        .icon {
            right: 5%;
        }

        #menu-btn {
            display: inline;
        }

        .header .search-form {
            width: 90%;
            right: 2rem;
        }

        .header .navbar {
            position: absolute;
            top: 100%;

            right: 100%;
            background: #fff;

            height: calc(100vh - 5.5rem);
            width: 30rem;
            transition: -.15s linear;
        }

        .header .navbar.active {
            right: 0;
        
        }

        .header .navbar a {
            display: block;
            margin: 1.5rem;
            padding: .5rem;
            font-size: 2rem;
            color: var(--black);

        }

        .header .cart-items-container.active {
            right: 0;
        }

        section {
            padding: 2rem;
        }

        .home {
            background-position: left;
            justify-content: center;
            text-align: center;
        }

        .home .content h3 {
            font-size: 4.rem;
        }

        .home .content p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width:991px) {
    html {
        font-size: 50%;
    }
}

/*  home section  */

.home {
    min-height: 100vh;
    align-items: center;
    background: url(./images/home-img.jpeg) no-repeat;
    display: flex;
    background-position: center;
    background-size: cover;

}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #eee;
    line-height: 1.2;
    padding: 1rem 0;
}

.menu .box-container {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;

}

.menu .box-container .box {
    padding: 3rem;
    border: .2rem solid rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
}
.menu .box-container .box:hover{
    background-color: rgb(230, 13, 64);
}

.menu .box-container .box .btn:hover{
    color: #fff;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem 0;
}

.menu .box-container .box .price span {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
}


.menu .box-container .box:hover>* {
    background: var(--black);
}

/* products css */
.products .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
}

.products .box-container .box:hover{
    background-color: rgb(230, 13, 64);
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    margin: 0.3rem;
}
.products .box-container .box .icons a:hover{
    background: var(--main-color);
}
.products .box-container .box .images{
    padding: 2.5rem 0;
}
.products .box-container .box .images img{
    height: 25rem;
}
.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.review .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box:hover{
    background-color: rgb(230, 13, 64);
}

.review .box-container .box p{
    color: #ccc;
    font-size: 1.5rem;
    line-height: 1.2em;
    padding: 2rem 0;

}
.review .box-container .box .user{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box .user:hover{
    transform: scale(1.2);
}
.review .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #fff;
}
.review .box-container .box h3:hover{
    color: var(--main-color);
}
.review .box-container .box .stars i{
    font-size: 2rem;
    color: var(--main-color);
}
.contact .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background: var(--black);
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 3.8rem;
}
.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.contact .row form .inputbox span{
    color: #fff;
    padding-left: 2rem;
    font-size: 1.8rem;
}
.contact .row form .inputbox input{
    width: 100%;
    padding: 1.7rem;
    background: none;
    color:#fff ;
}
.blog .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.blog .box-container .box{
    border:  0.2rem solid rgba(255, 255, 255, 0.3);


}
.blog .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
}
.blog .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.blogs .box-container .box{
    border:  0.2rem solid rgba(255, 255, 255, 0.3);
}
.blogs .box-container .box:hover{
     background-color: rgb(230, 13, 64);
}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    color: #fff;
    line-height: 1.2;
}
.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}
.blogs .box-container .box .content span{
    color: var(--main-color);
    padding-top: 1rem;
    font-size: 2rem;
    display: block;

}
.blogs .box-container .box .content p{
    color: #ccc;
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 1rem 0;
   
}
.footer{
    background: var(--black);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share i{
   font-size: 2rem;
   margin: .3rem;
   height: 5rem;
   width: 5rem;
   border:  0.1rem solid rgba(255, 255, 255, 0.3);
   line-height: 5rem;
   color: #fff;
   border-radius: 50%;
   margin-bottom: 1rem;
}
.footer .share i:hover{
    background-color: var(--main-color);
    color: black;
}
.footer.links{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    gap: 1.2rem;
    
}
.footer .links a{
    color: #fff;
    padding: .7rem 2rem;
    font-size: 2rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    line-height: 4.9rem;
}
.footer .links a:hover{
    background-color: var(--main-color);
    color: black;
}
.footer .credit{
    font-size: 1.8rem;
    color: #fff;
    padding: 2.1rem;
    font-weight: lighter;
}
.footer .credit span{
    color: var(--main-color);
}
